:root {
  --mainBorder: 1px solid #dddddd;
  --mainColor: #219558;
  --secondaryColor: #969696;
}
/* 328px caption conatiner size */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
span {
  color: var(--mainColor);
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mainColor);
}
p {
  color: var(--secondaryColor);
  font-size: 13px;
}
.container {
  width: 1260px;
  margin: 0px 45px;
  background-image: url(./Images/main_bg.jpg);
  background-repeat: no-repeat;
}

.nav-head {
  background-image: url(./Images/header_bg01.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.s1 {
  position: relative;
  width: 960px;
  margin: 0 150px;
  overflow: hidden;
}

#logo {
  margin-top: 1px;
  margin-left: -72px;
  width: 259px;
  height: 63px;
}

.nav-wrapper {
  display: flex;
  height: 3vh;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

nav {
  font-weight: bold;
  font-size: 15px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 558px;
  position: relative;
  top: 4px;
  left: 14px;
}

#navigation li a {
  letter-spacing: 1px;
  color: grey;
}
/*-------slider--------------- */
.slider-wrapper {
  position: relative;
  width: 960px;
  height: 376px;
}

.s1 .slide {
  position: absolute;
  width: 960px;
  height: 376px;
  background-size: cover;
  z-index: 1;
  display: none;
  justify-content: flex-end;
  animation: slide 2s ease;
}
.s1 .active {
  display: flex;
  border: var(--mainBorder);
}
@keyframes slide {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.caption-wrapper {
  max-width: 328px;
  flex-grow: 1;
}
.s1 .caption {
  max-width: 328px;
  height: 376px;
}
.s1 .caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s1 .active .caption h2 {
  opacity: 0;
  animation: captionText 0.5s ease forwards 1s;
}
.cap-1 h2 {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 93px;
  margin-left: -5px;
}

.cap-2 h2 {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 63px;
  margin-left: -34px;
}

.cap-1 p {
  font-size: 18px;
  margin-top: 25px;
  margin-left: -33px;
}
.cap-2 p {
  font-size: 18px;
  margin-top: 21px;
}
.s1 .active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards 1.2s;
}
.cap-1 a {
  margin-top: 87px;
  margin-left: -83px;
}
.cap-2 a {
  margin-top: 39px;
  margin-left: -81px;
}
.s1 .active .caption a {
  opacity: 0;
  animation: captionText 0.5s ease forwards 1.4s;
}
@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.s1 .dots-wrapper {
  display: flex;
  position: relative;
  top: 351px;
  left: 906px;
  z-index: 2;
}
.s1 .dots-wrapper .dot {
  height: 12px;
  width: 12px;
  margin: 1.6px;
  cursor: pointer;
  background-color: lightgray;
  border: var(--mainBorder);
  border-radius: 50%;
}
.s1 .dots-wrapper div:hover {
  transform: scale(1.1);
  background-color: white;
}
.active-dot {
  background-color: #ffffff;
}
.s1 .indicator {
  position: absolute;
  bottom: 7px;
  right: 24px;
  z-index: 2;
}
.s1 .indicator div {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #dddddd;
  border-radius: 50%;
  margin: 0 2.2px;
  cursor: pointer;
}
.s1 .indicator div.active {
  background-color: #ffffff;
}
/*-------slider--------------- */
.lifestyle-wrapper {
  display: grid;
  grid-template-rows: 52px 23px 307px 24px;
  grid-template-columns: 308px 321px 298px 1fr;

  margin-top: 20px;
  border: var(--mainBorder);
}

.lifestyle-wrapper h3 {
  margin-top: 24px;
  margin-left: 30px;
  border-bottom: 1px solid var(--mainColor);
  grid-column: 1/4;
}

.col-1 {
  grid-area: 3 / 1 / 4 / 2;
  border-right: 1px solid lightgray;
}
.col-1 p {
  margin-left: 30px;
}
.learn-btn {
  border: 1px solid var(--mainColor);
  width: 177px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;

  color: var(--mainColor);
  font-weight: bold;
  font-size: 13px;
  padding: 6px 0px 0px 13px;
  letter-spacing: 1px;
}
.main-btn {
  margin-top: 72px;
  margin-left: 30px;
}
/* .learn-btn {
  color: var(--mainColor);
  font-weight: bold;
  font-size: 13px;
  padding: 6px;
  margin-left: 8px;
  letter-spacing: 1px;
} */

.learn-btn img {
  position: relative;
  left: 51px;
}

.col-2 {
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid-template-rows: 27px 1fr;
  border-right: 1px solid lightgray;
}

.col-2 > h4 {
  color: var(--secondaryColor);
  margin-top: -2px;
  margin-left: 21px;
}

.col-2-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.connect {
  display: grid;
  grid-template-rows: 134px 19px 1fr;
  border-right: 1px solid lightgray;
}
.connect div img {
  position: relative;
  top: -8px;
  left: 12px;
}
.connect div h4 {
  margin-top: -1px;
  margin-left: 19px;
}

.connect div p {
  margin-top: 10px;
  margin-left: 20px;
}
.experience {
  display: grid;
  grid-template-rows: 134px 19px 1fr;
}

.experience div img {
  position: relative;
  top: -8px;
  left: 12px;
}
.experience div h4 {
  margin-top: -1px;
  margin-left: 22px;
}
.experience div p {
  margin-top: 10px;
  margin-left: 20px;
}

.col-3 {
  grid-area: 3 / 3 / 4 / 4;
  display: grid;
  grid-template-rows: 28px 1fr;
}

.col-3 > h4 {
  color: var(--secondaryColor);
  margin-top: -2px;
  margin-left: 21px;
}
.col-3-wrapper {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.discover {
  display: grid;
  grid-template-rows: 133px 19px 1fr;
  border-right: 1px solid lightgray;
}

.discover div img {
  position: relative;
  top: -9px;
  left: 11px;
}

.discover div h4 {
  margin-top: -1px;
  margin-left: 20px;
}

.discover div p {
  margin-top: 10px;
  margin-left: 20px;
}

.grow {
  display: grid;
  grid-template-rows: 133px 19px 1fr;
}

.grow div img {
  position: relative;
  top: -9px;
  left: 11px;
}

.grow div h4 {
  margin-top: -1px;
  margin-left: 20px;
}

.grow div p {
  margin-top: 10px;
  margin-left: 20px;
}

.customer-wrapper {
  height: 380px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 570px 1fr;
  grid-gap: 79px;
}

.cs-intro {
  display: grid;
  grid-template-rows: 43px 100px 1fr;
}

.cs-intro h3 {
  margin-left: -1px;
  margin-top: 14px;
  border-bottom: 1px solid var(--mainColor);
}
.cs-intro div p {
  margin-top: 22px;
}

.cs-logo {
  display: grid;
  grid-template-columns: 172px 188px 1fr;
  grid-template-rows: 1fr 1fr;
}

.cs-logo-1 {
  margin-top: -4px;
  margin-left: -9px;
}
.cs-logo-2 {
  margin-top: -4px;
  margin-left: 4px;
}
.cs-logo-3 {
  margin-top: -4px;
  margin-left: 1px;
}
.cs-logo-4 {
  margin-top: -4px;
  margin-left: -9px;
}
.cs-logo-5 {
  margin-top: -4px;
  margin-left: 4px;
}
.cs-logo-6 {
  margin-top: -4px;
  margin-left: 1px;
}

.news-wrapper {
  display: grid;
  grid-template-rows: 44px 175px 1fr;
}

.news-wrapper h3 {
  margin-top: 14px;
  border-bottom: 1px solid var(--mainColor);
}
.news-1 {
  border-bottom: var(--mainBorder);
}
.news-1 h5 {
  margin-top: 21px;
}
.date {
  font-size: 12px;
  font-weight: bold;
  color: grey;
}
.news-1 p:nth-child(2) {
  margin-top: 3px;
  margin-left: 1px;
}
.news-1 p:nth-child(3) {
  margin-top: 14px;
}

.news-2 h5 {
  margin-top: 26px;
}

.news-2 p:nth-child(2) {
  margin-top: 4px;
  margin-left: 1px;
}
.news-2 p:nth-child(3) {
  margin-top: 14px;
}

.media-wrapper {
  height: 409px;
  margin-top: 31px;
  display: grid;
  grid-template-columns: 50px 366px 124px 367px 50px;
  border: var(--mainBorder);
}

.mr-photos {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 46px 285px 1fr;
}

.mr-photos h3 {
  margin-top: 18px;
  margin-left: 1px;
}

.photos-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-top: 1px solid var(--mainColor);
}

.photo-1 {
  margin-top: 25px;
  margin-left: -7px;
}
.photo-2 {
  margin-top: 25px;
  margin-left: 17px;
}
.photo-3 {
  margin-top: 8px;
  margin-left: -7px;
}
.photo-4 {
  margin-top: 8px;
  margin-left: 17px;
}
.mr-photos p {
  margin-top: 3px;
}

.mr-videos {
  grid-column: 4/5;
  display: grid;
  grid-template-rows: 46px 285px 1fr;
}

.mr-videos h3 {
  margin-top: 18px;
  margin-left: 1px;
}

.videos-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-top: 1px solid var(--mainColor);
}

.video-1 {
  margin-top: 25px;
  margin-left: -7px;
}
.video-2 {
  margin-top: 25px;
  margin-left: 17px;
}
.video-3 {
  margin-top: 7px;
  margin-left: -7px;
}
.video-4 {
  margin-top: 7px;
  margin-left: 17px;
}

.mr-videos p {
  margin-top: 3px;
  margin-left: 1px;
}

footer {
  background-image: url(./Images/footer_bg.jpg);
  background-repeat: no-repeat;
  height: 100px;
  margin-top: 31px;
  display: flex;
  justify-content: space-around;
}

footer ul {
  width: 425px;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-left: -7px;
}
footer ul li {
  font-size: 12px;
  color: lightgray;
}
footer p {
  font-size: 11px;
  color: lightgray;
  margin-top: 19px;
  margin-left: 36px;
}
