* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: grey;
}

.container {
  width: 1260px;
  margin: 0px 45px;
}

.nav-head {
  background-image: url(./Images/header_bg01.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.s1 {
  width: 960px;
  margin: 0 150px;
  overflow: ;
}

#logo {
  margin-top: 1px;
  margin-left: -72px;
  width: 259px;
  height: 63px;
}

.nav-wrapper {
  display: flex;
  height: 3vh;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

nav {
  font-weight: bold;
  font-size: 15px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 558px;
  position: relative;
  top: 4px;
  left: 14px;
}

#navigation li a {
  letter-spacing: 1px;
}

.slider-wrapper {
  height: 374px;
  display: grid;
  grid-template-columns: 630px 1fr;
}
.head-img {
  margin-top: -11px;
  z-index: -1;
}

/* #f4f4f4 */
